pip>=23.3,<24.1
omegaconf>=2.0.6
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'

deemix
fairseq @ git+https://github.com/One-sixth/fairseq.git
faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
gradio
lib==4.0.0
librosa
numpy==1.23.5
praat-parselmouth>=0.4.2
pedalboard==0.7.7
pydub==0.25.1
pyworld==0.3.4
Requests==2.31.0
scipy==1.11.1
soundfile==0.12.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchcrepe==0.0.23
tqdm
yt_dlp==2023.7.6
matplotlib==3.7.2
sox==1.4.1
